<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garmin to Dawarich Sync</title>
    <!-- Add your CSS files here -->
</head>
<body>
    <header>
        <h1>Garmin to Dawarich Location Sync</h1>
    </header>
    
    {% include '_flash_messages.html' %}
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <p>Version: {{ app_version }}</p>
    </footer>
</body>
</html>
