<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garmin to Dawarich Sync</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h3>Actions</h3>
        <p>
            <a href="{{ url_for('index.check') }}" class="btn btn-primary">Quick Check</a>
            <a href="{{ url_for('index.upload') }}" class="btn btn-secondary">Upload to Dawarich</a>
        </p>
        <p>
            <a href="{{ url_for('index.check') }}" class="btn btn-primary">Start Custom Check</a>
            <a href="{{ url_for('index.upload') }}" class="btn btn-secondary">Stop Custom Check</a>
        </p>
    </header>
    
    {% include '_flash_messages.html' %}
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <p><a href="https://github.com/pinionless/garmin-to-dawarich-sync">Dawarich Location Sync</a> Version: {{ app_version }}</p>
    </footer>
</body>
</html>
